@media only screen and (max-width: 600px) {
	:root{
		--minimumPadding: 10px;
	}

	.category_card_grid {
		grid-template-columns: 1fr 1fr;
	}

	.nav_holder {
		.logo_holder {
			width: 100%;
		}

		nav {
			width: $mainPageWidth;

			.nav_padder {
				width: 20px;
			}
		}
	}
}
