@media only screen and (max-width: 600px) {
	:root{
		--minimumPadding: 10px;
	}

	.recipe_card {
		.recipe_card_text_holder {
			span.long_description {
				display: none;
			}
			span.short_description {
				display: block;
			}
		}
	}

	.category_card_grid {
		grid-template-columns: 1fr 1fr;
	}

	.nav_holder{
		.logo_holder {
			width: 100%;
		}
		
		nav {
			.nav_padder {
				width: 20px;
			}
		}

	}

	.filter_holder {
		.multicheck, .search_box{
			margin: $minimumPadding 0;
		}
	}
}
