@import "colours";
@import "shorthand";
@import "utils";

:root{
	--mainGridGap: 20px;
	--minimumPadding: 20px;
	--dividerSpacing: 30px;
}

$dividerSpacing: var(--dividerSpacing);
$mainGridGap: var(--mainGridGap);
$minimumPadding: var(--minimumPadding);
$mainPageWidth: min( calc( 100% - 2 * #{$minimumPadding} ) , max(60%, 1200px));
$navHeight: 30px;

body {
	background-color: $tucBack;
	padding: 0;
	margin: 0;
}

.nav_holder {
	display: flex;
	width: 100%;
	align-items: center;
	margin-bottom: $dividerSpacing;
	position: relative;

	.logo_preline, .logo_postline {
		width: 10%;
		content: '';
		height: 3px;
		background-color: white;
	}

	.logo_holder {
		width: 40%;
		padding: 0 0 0 $minimumPadding;

		img {
			width:100%;
		}
	}
	
	.logo_postline {
		width: 50%;
	}

	nav {
		position: absolute;
		width: 450px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		right: 0;
		top: calc(25% - 15px);
		background-color: rgba($midGrey, 0.2);

		.nav_item {
			display: inline-block;
			color: $textWhite;
			padding-left: 10px;
			padding-right: 10px;

			a {
				text-decoration: none;
				color: inherit;
			}
		}

		.nav_padder {
			width: 30px;
			height: 0.5px;
			background-color: $textWhite;
		}
	}
}

@keyframes divider_arm_load {
	from {width: 0;}
	to {width: 100%;}
}

.category_card_grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: $mainPageWidth;
	padding-left: calc( 50% - ( #{$mainPageWidth} / 2 ) );
	grid-gap: $mainGridGap;
}

.category_card {
	width: 100%;
	display: block;
	position: relative;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	.category_card_img_holder {
		width: 100%;

		img{
			width: 100%;
		}
	}

	.category_card_text_holder {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: rgba($tucBack, 0.7);
		text-align: center;
		
		%headings {
			margin: 10px 0;
		}

		a {
			text-decoration: none;
			color: $textWhite;
		}
	}
}

.divider {
	color: $textWhite;
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items:center;
	
	&.spaced {
		margin: $dividerSpacing 0;
	}

	.divider_arm {
		display: block;
		height: 0.5px;
		flex-grow: 1;
		&::before {
			float: right;
			display: block;
			content: '';
			background-color: $textWhite;
			height: 1px;
			width: 100%;
		}
		&:first-child::before {
			float: left;
		}
	}

	&.animated .divider_arm::before {
		animation-name: divider_arm_load;
		animation-duration: 0.8s;
		aniamtion-timing-function: ease-in-out;
	}

	%headings {
		padding: 0px 20px;
		margin: 0;
	}
}

.recipe_card_grid {
	padding-left: calc( 50% - ( #{$mainPageWidth} / 2 ) );
	width: $mainPageWidth;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: $mainGridGap;
}

.recipe_card {
	width:100%;
	height:150px;
	background-color: #c4c4c4;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	a {
		text-decoration: none;
		color: inherit;
	}

	.recipe_card_img_holder {
		float:left;
		margin-right: 10px;

		img {
			height:100%;
		}
	}

	.recipe_card_text_holder {
		%headings {
			color: #2E3034;
			padding-right: 5px;
		}
		
		p {
			color: #48494B;
			padding-right: 5px;
		}
	}
}

@import "tablet";
@import "mobile";
