@import "colours";
@import "shorthand";
@import "utils";

:root{
	--mainGridGap: 20px;
	--minimumPadding: 30px;
	--dividerSpacing: 30px;
}

$dividerSpacing: var(--dividerSpacing);
$mainGridGap: var(--mainGridGap);
$minimumPadding: var(--minimumPadding);
$mainPageWidth: min( calc( 100% - 2 * #{$minimumPadding} ) , max(60%, 1200px));
$mainArticleWidth: min( calc( 100% - 2 * #{$minimumPadding} ), calc(800px + 0.2 * (100vw - 800px)));
$navHeight: 30px;
$hoverTime: 0.5s;
$loadinTime: 1.5s;
$standardBoxShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$softBoxShadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
$sansSerifFont: 'Livvic', sans-serif;
$serifFont: 'Arapey', serif;

body {
	background-color: $tucBack;
	padding: 0;
	margin: 0;
	font-family: $serifFont;
}

p,span {
	font-family: $sansSerifFont;
}

%headings {
	font-weight: normal;
}

.hidden {
	display: none;
}

.nav_holder {
	display: flex;
	align-items: center;
	margin-bottom: $dividerSpacing;
	position: relative;

	.logo_preline, .logo_postline {
		width: 10%;
		content: '';
		height: 3px;
		background-color: $textWhite;
	}

	.logo_holder {
		width: min(500px, 40%);
		padding: 0 0 0 $minimumPadding;

		img {
			width:100%;
		}
	}
	
	.logo_postline {
		width: max(50%, calc( 90% - 500px ));
	}

	nav {
		position: absolute;
		width: 425px;
		height: $navHeight;
		display: flex;
		align-items: center;
		justify-content: space-around;
		right: 0;
		top: calc(25% - 15px);
		background-color: $midGrey;
		box-shadow: $softBoxShadow;

		.nav_item {
			display: inline-block;
			color: $textWhite;
			padding-left: 10px;
			padding-right: 10px;
			font-family: $sansSerifFont;

			&:hover {
				transition: color $hoverTime;
				color: $tucAccent;
			}
		}

		.nav_padder {
			width: 30px;
			height: 1pt;
			background-color: $textWhite;
		}
	}
}

@keyframes divider_arm_load {
	from {width: 0;}
	to {width: 100%;}
}

.category_card_grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: $mainPageWidth;
	padding-left: calc( 50% - ( #{$mainPageWidth} / 2 ) );
	grid-gap: $mainGridGap;
}

.category_card {
	width: 100%;
	display: block;
	position: relative;
	box-shadow: $standardBoxShadow;

	.category_card_img_holder {
		width: 100%;

		img{
			width: 100%;
		}
	}

	.category_card_text_holder {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: rgba($tucBack, 0.7);
		text-align: center;
		
		%headings {
			margin: 10px 0;
		}

		a {
			text-decoration: none;
			color: $textWhite;
		}
	}
}

.divider {
	color: $textWhite;
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items:center;
	
	&.spaced {
		margin: $dividerSpacing 0;
	}

	.divider_arm {
		display: block;
		height: 0.5px;
		flex-grow: 1;
		&::before {
			float: right;
			display: block;
			content: '';
			background-color: $textWhite;
			height: 1pt;
			width: 100%;
		}
		&:first-child::before {
			float: left;
		}
	}

	&.animated .divider_arm::before {
		animation-name: divider_arm_load;
		animation-duration: $loadinTime;
		aniamtion-timing-function: ease-in-out;
	}

	%headings {
		padding: 0px 20px;
		margin: 0;
	}
}

.recipe_card_grid {
	padding-left: calc( 50% - ( #{$mainPageWidth} / 2 ) );
	width: $mainPageWidth;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: $mainGridGap;
}

.recipe_card {
	width: 100%;
	height: 150px;
	background-color: #c4c4c4;
	box-shadow: $standardBoxShadow;
	overflow: hidden;
	display: flex;

	a {
		text-decoration: none;
		color: inherit;
	}

	.recipe_card_img_holder {
		float:left;
		margin-right: 10px;

		img {
			height:100%;
		}
	}

	.recipe_card_text_holder {
		padding-right: 5px;
		padding-bottom: 5px;

		%headings {
			color: #242529;
			padding-right: 5px;
			font-size: 1.3em;
			margin: 0.5em 0 0.7em 0;
		}
		
		span {
			display: block;
			margin: 0;
			color: #48494B;
			
			&.short_description {
				display: none;
			}
		}

	}
}

.main_article {
	width: $mainArticleWidth;
	margin: 0 calc( 50% - calc( #{$mainArticleWidth} / 2 ));
	color: $textWhite;
	line-height: 1.5em;
}

.bottom_spacer {
	display: block;
	height: $minimumPadding;
	weight: 100%;
	float: left;
}

@import "tablet";
@import "mobile";
@import "small_mobile";
