<%- include('header') -%>
<div class="main_article">
<h2>Welcome to The Ugly Croissant</h2>
<p>This is the home of all of my eggless recipes both sweet and savoury alike. I have designed these to be delicious, whether you choose to eat eggs or not, so please dive straight in.<p>
<h3>A little about myself</h3>
<p>My name is Nicola Easton, a 20 year old student from the UK and I am the author of The Ugly Croissant. Baking has been a passion of mine since I was very small and I have grown up testing all of the recipes I can get my hands on, so I thought it was about time that I share some of mine.</p>
<p>I started baking eggless recipes about two years ago when I met my boyfriend who has an egg allergy. It’s been an uphill struggle trying to adapt and create recipes, with a few headaches along the way, but so far its been generally successful! This website is here to document my attempts at creating all kinds of delicious goods with a recipe page for all of my best bakes and a blog section on the homepage for comments on slightly less triumphant attempts.</p>
<p>The biggest shame I found with eggless cooking is that there are very limited resources online or in books. I want this website to try and fill a gap for those looking for recipes, whether you’re vegetarian, intolerant or just wanting to try some delicious treats.</p>
<p>To find all of my posts, experiments and recipe announcements, check out my Instagram account</p>
<h3>Why the name?</h3>
<p>My dad called my croissants ugly, it caught on.</p>
</div>
<%- include('footer') -%>
