<%- include('header') -%>
<div class="recipe_wrapper">
	<div class="recipe_left_column">
		<div class="recipe_page_image_wrapper">
			<div class="recipe_page_image">
				<img src="/assets/portrait.jpg" alt="Photo of me"/>
			</div>
		</div>
	</div>
	<div class="recipe_right_column">
		<div class="recipe_page_method">
			<div class="preline_wrapper"><div class="preline no_print"></div><h2>About</h2></div>
			<p>Hi, I’m Nikki and welcome to The Ugly Croissant!</p>
			<p>This is a home for all of my eggless recipes that I’ve created or collated from family over the years. It’s still fairly new, I only started eggless baking in 2016 when I met my boyfriend with an egg allergy, so recipes may change over time and hopefully there’ll be much more variety in the coming years. With very few eggless recipes online, I’m hoping that this website somewhat contributes to the gap.</p>
			<p>My blog is predominantly on Instagram so please check out <a href="https://www.instagram.com/theuglycroissant/">@theuglycroissant</a> for more regular recipe ideas, but this website is where I’ll post all of the details of the recipes I’m happy with.</p>
			<p>If you have any requests for recipes for me to try and adapt, please do let me know! You can contact me on the form below or via instagram and I’ll try my best to reply swiftly.</p>
			<p>One last thing, why the name? When I first started this adventure, my dad called my croissants ugly and it stuck. Enjoy baking!</p>
		</div>
	</div>
</div>
<%- include('footer') -%>
