<div class="category_card">
	<div class="category_card_img_holder">
		<a href="<%= link %>"><img src="<%= image %>"></a>
	</div>
	<a href="<%= link %>">
		<div class="category_card_text_holder">
			<div class="divider">
				<div class="divider_arm"></div>
				<h3><%= title %></h3>
				<div class="divider_arm"></div>
			</div>
		</div>
	</a>
</div>
