<html>
<head>
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/styles.css" />
	<link href="https://fonts.googleapis.com/css2?family=Arapey&family=Livvic&display=swap" rel="stylesheet">
</head>
<body>
<div class="nav_holder">
	<div class="logo_preline"></div>
	<div class="logo_holder">
		<a href="/index"><img src="/assets/the_ugly_croissant_long.png"></a>
	</div>
	<div class="logo_postline"></div>
	<nav>
		<a href="/index"><div class="nav_item">Recipes</div></a>
		<div class="nav_padder"></div>
		<a href="/search"><div class="nav_item">Search</div></a>
		<div class="nav_padder"></div>
		<a href="/about"><div class="nav_item">About</div></a>
	</nav>
</div>
