<%- include('header') %>
	<div class="divider">
		<div class="divider_arm"></div>
		<h2>Featured Recipes</h2>
		<div class="divider_arm"></div>
	</div>
	<div class="recipe_card_grid">
	<% for (var id in directories.recipe) { %>
		<%- include('recipe_card', {recipe: directories.recipe[id]}) %>
	<% } %>
	</div>
<%- include('footer') %>
