<div class="recipe_card">
	<div class="recipe_card_img_holder">
		<img src="<%= recipe.card_photo %>">
	</div>
	<div class="recipe_card_text_holder">
		<h3><a href="<%= recipe.link %>"><%= recipe.title %></a></h3>
		<p><%= recipe.description %></p>
	</div>
</div>
