<%- include('header') %>
<div class="recipe_wrapper">
	<div class="recipe_left_column">
		<div class="recipe_page_image"></div>
		<div class="recipe_page_title">
			<%= title %>
		</div>
		<div class="recipe_page_ingredients"></div>
	</div>
	<div class="recipe_right_column">
		<div class="recipe_page_title"></div>
		<div class="recipe_page_method"></div>
	</div>
</div>
<%- include('footer') %>
